.singleMain .post-thumbnail > img{
    display: none;
}

/* styling header for single page */
.entry-content > h2{
    position: relative;
    text-align: center;
    padding: 50px 15px 0px 15px ;
    margin-bottom: 60px;
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
}

.entry-content > h2::before {
    content: '';
    left: 20%;
    right: 20%;
    position: absolute;
    height: 2px;
    background-color: #0ba987;
    bottom: 0px;
}

/* styling the photo and paragraph beside it */
.entry-content .wp-block-group__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.entry-content .wp-block-image{
    flex-basis: 50%;
}

.entry-content p {
    flex-basis: 50%;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

/* styling the the images */
.entry-content h3 {
    position: relative;
    padding: 20px 15px 0px 15px ;
    margin-bottom: 60px;
    font-family: futura;
    font-size: 30px;
}

.entry-content h3::before {
    content: '';
    left: 0;
    right: 60%;
    position: absolute;
    height: 2px;
    background-color: #0ba987;
    bottom: 0px;
}

/* removing comment from the blogs */
.comment-form-comment {
    display: none;
}

#reply-title {
    display: none;
}

.form-submit {
    display: none;
}