/*******************************  styling for body *******************************/
body {
    background:transparent;
}
/******************************* styling for header ***********************************/
header.site-header {
    background: rgba(255,255,255,.8);
    /* background:transparent; */
    height:10vh;
    position:fixed;
    z-index: 10001;
    margin-top: -10vh;
    width:100%;
    margin-left:0;
    /* display:grid; */
    align-content: center;
}
.site-branding img {
    width:60%;
}

.menu-primary-menu-container {
    width:100%;
}

ul#primary-menu {
    display:flex;
    justify-content: flex-end;
}

ul#primary-menu li {
    list-style: none;
}

ul#primary-menu li a{
    text-decoration: none;
    font-size:1.2em;
    color:black;
    font-family: futura;
    margin-right:2vw;
}

ul#primary-menu li a:hover{
   color: #c11e1c;
}

a.custom-logo-link {
    display:flex;
    height:100%;
    align-items: center;
    justify-content: center;
}
/* widget styling */
.widget-area {
    padding:1vw 2vw;
    border-right: 1px solid #f5f5f5;
    font-size:13px;
    color:#676767;
}

h2.widget-title {
    color:#111;
    font-size:15px;
    margin:20px 0 5px;
    font-weight: 500;
    display:block;
}
.search-form span {
    display:none;
}

input.search-field {
    float:left;
    margin-right:2px;
    padding:5px;
    border-radius:0.5rem;
    /* font-size: 2vw; */
    width:60%;
}

input.search-submit {
    padding:0.5vw;
    /* font-size:2vw; */
    font-family:Arial, Helvetica, sans-serif;
    /* width:30%; */
    border-radius: 0.8rem;
}

header label, header input {
    display:none;
}

/******************************** styling hamburger menu ********************************/
@media screen and (max-width: 39.9375em) {
    /* header.site-header{
        height:auto;
    } */

    ul#primary-menu {
        display:none;
    }

    /* ul#primary-menu li{
        display:none;
        background-color: white;
    } */

    .site-branding img {
        width:40%;
    }
    
    header label {
        font-size:2em;
        display:block
    }

    #toggle:checked ~ nav ul#primary-menu {
        /* transform: scale(1); */
        display:block;
        opacity:1;
        height:20vh;
        transition: opacity 500ms ease-in-out;  
        position: absolute;
        margin-top:0;
        padding-left:2em;
        background-color: white;
        width:100%;
    }

    #toggle:checked ~ nav {
        /* transform: scale(1); */
        margin-left:0;
    }
}



/******************************** styling main page content ********************************/
#primary {
    margin-top:10vh;
}

/* styling for the homepage */


/* style for the gallery */
.is-style-red-gallery {
    /* height:50vh; */
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


.is-style-red-gallery figcaption.blocks-gallery-item__caption {
    font-size:1.5em;
    font-family: futura;
    text-align: center;
}
.is-style-red-gallery ul li {
    display:flex;
    align-items: center;
    background-color: #f10205;
    height:40vh;
}

.is-style-red-gallery ul li figure{
    width:100%;
    display:flex;
    align-items: center;
}


.blocks-gallery-grid .blocks-gallery-image figure, .blocks-gallery-grid .blocks-gallery-item figure, .wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    align-items: center;

}

.blocks-gallery-grid.is-cropped .blocks-gallery-image a, .blocks-gallery-grid.is-cropped .blocks-gallery-image img, .blocks-gallery-grid.is-cropped .blocks-gallery-item a, .blocks-gallery-grid.is-cropped .blocks-gallery-item img, .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img{
    height:35%;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    background: transparent;
}

.blocks-gallery-grid.is-cropped .blocks-gallery-image a, .blocks-gallery-grid.is-cropped .blocks-gallery-image img, .blocks-gallery-grid.is-cropped .blocks-gallery-item a, .blocks-gallery-grid.is-cropped .blocks-gallery-item img, .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    object-fit: contain;
}

/* styling for contact quote */
.wp-block-quote.is-style-contact-quote p {
    margin:2px 20px;
}

.wp-block-quote.is-style-contact-quote p:last-child {
    font-size:0.8em;
} 

/* styling for button */
.wp-block-button.is-style-promo-button a {
    font-family: futura; box-shadow: 10px 10px 8px #888888; 
}

/* styling for footer */
.footerLinks{
    background-color: #09090B;
}

.footerLinks.grid-x.grid-margin-x {
    width:100%;
}
.menu-social-menu-container, .menu-footer-menu-container {
    display:flex;
    justify-content: center;
    width:100%;
}

.menu-social-menu-container .menu {
    width:50%;
    display:flex;
    justify-content: space-around;
}

.menu-footer-menu-container .menu {
    width:35%;
    display:flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    font-size:1.5em;
    color:white;
    font-family: futura;
}

.site-info {
    background-color: #f10205;
    padding:5px;
    display:flex;
    justify-content: center;
}

.site-info a, .site-info span {
    text-decoration: none;
    color:#0a0a0a;
    margin-right:10px;
    font-family: futura;

}


/********************************************** changes by Harkaran and Karan*********************************************/
/* about page */
.wp-block-image.size-large.is-style-about-poster{
    margin:0;
    
}

.wp-block-image img {
    width:100%;
    padding: 30px;
    background-position: center;
    background-size: cover;
}

/* Red div */
.is-style-red-div {
    width: 100%;
    height: 710px;
    background: #c11e1c;
    font-size: 30px;
    font-weight: bolder;
}

.has-text-color.has-background.has-huge-font-size.has-black-blue-color.has-dark-cyan-background-color{
    margin: 0;
    text-align: left;
    font-size: 50px;
}

.wp-block-button__link.has-text-color.has-black-blue-color.has-background.has-white-background-color{
    transition: all .3s ease;
}

.wp-block-button__link.has-text-color.has-black-blue-color.has-background.has-white-background-color:hover{
    background: black;
    color: white;
}

.wp-block-quote.is-style-about-quote p{
    font-family: 'Gill Sans', sans-serif;
    font-size: 27px;
    margin: 10px 100px;
}