/* Header style */
.journalTitle {
    position: relative;
    text-align: center;
    padding: 50px 0 0 0;
    font-family: futura;
    font-size: 50px;
    text-transform: uppercase;
}

.journalTitle:before{
    content: '';
    left: 40%;
    right: 40%;
    position: absolute;
    height: 2px;
    background-color: #0ba987;
    bottom: 0px;
} 

/* journal post style */
.journalPost {
    padding-right: .9375rem;
    padding-left: .9375rem;
    max-width: 75rem;
    margin: 0 auto;
}

.journalPost p {
    margin-top: 0;
}

.journalText {
    padding: 0 0 0 40px;
}

.journalText h4 {
    font-size: 1.5em;
    text-align: left;
}

/* working with margins, padding */
.imageMargin {
    margin: 0;
}
