/* Header style */
.journalTitle {
    position: relative;
    text-align: center;
    padding: 50px 0 0 0;
    font-family: futura;
    font-size: 50px;
    text-transform: uppercase;
}

.journalTitle:before{
    content: '';
    left: 40%;
    right: 40%;
    position: absolute;
    height: 2px;
    background-color: #c11e1c;
    bottom: 0px;
} 

/* journal post style */
.journalPost {
    padding-right: .9375rem;
    padding-left: .9375rem;
    max-width: 75rem;
    margin: 0 auto;
}

.journalWrapper {
    background-color: #c11e1c;
}

.journalPost p {
    margin-top: 0;
    color: wheat;
    font-size: 16px;
}

.journalText {
    padding: 0 0 0 40px;
}

.journalText h4 {
    margin: 0 0 17px 0;
    color: white;
    font-size: 1.5em;
    text-align: left;
}

.journalText a {
    border: none;
	text-decoration: none;
}

.journalText a:hover {
    text-decoration: underline;
    color: white;
}

/* working with margins, padding */
.imageMargin {
    margin: 0;
}
/* working with single journal page */

.singleJournal .post-thumbnail img {
    display: none;
}